@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*Tirando toda a margin e o padding da página*/
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    /*Colocando o (tamanho máximo) no documento*/
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    /*Imagem de fundo da página
    - background-size: cover - Para cobrir toda a tela
    - background-attachment: fixed - Para que a imagem fique
      fixa ao fundo*/

}

div.main{
    position: relative;
    background-image: linear-gradient(to bottom, #9B1C2F, #141414, #8F6990);
    height: 100vh;
}

div.telefone{
    position: absolute;
    /*-- Centralizando imagem-- 
        Usar os próximos 3 parametros para centralizar imagem ao meio*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /*-- Tamanho das imagens-- 
        Para descobrir os tamanhos da imagem basta
        abrir no gimp e ver em propriedades de imagem*/
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
    /* 
    --POSICIONAMENTO TELA
    O posicionamento foi feito com relative para poder colocar 
    o top e o left
    Mas com os testes feitos, também pode ser feito com margin
    left e margin top--
    */
    position: relative;
    top: 78px;
    left: 20px;
    width: 267px;
    height: 471px;
}

div.redes-sociais{
    text-align: right;
    padding-right: 2vw;

    
    
}

div.redes-sociais img{
    width: 50px;
    margin: 10px;
    /*Para deixar as imagens em circulos*/
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    /*Para conseguir colocar a sombra logo abaixo precisa
    definir primeiro esse atributo */
    box-sizing: border-box;
}

/*Quando o mouse estiver em cima dos icones-menus*/
div.redes-sociais img:hover{
    border: 2px solid white;
    /*Posicionando para destacar*/
    transform: translate(-3px, -3px);
    /*Como mexeu na posição, temos que refazer a sombra para
    ficar correta*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    /*Delay para animação feita acima*/
    transition: transform 0.2s, border 1s;
}